<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840846644801-jaasg37err6l16vt443tka5od1jpf1pi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840846644801-jaasg37err6l16vt443tka5od1jpf1pi</string>
	<key>API_KEY</key>
	<string>AIzaSyCe_z96B7RZX5W5baeMVWtN2qT8ZN18Q4E</string>
	<key>GCM_SENDER_ID</key>
	<string>840846644801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brianadvent.OnboardingLotties</string>
	<key>PROJECT_ID</key>
	<string>advmobsystem</string>
	<key>STORAGE_BUCKET</key>
	<string>advmobsystem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840846644801:ios:228eb31b6d30a966e298c0</string>
	<key>DATABASE_URL</key>
	<string>https://advmobsystem.firebaseio.com</string>
</dict>
</plist>